*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.main{
    border: 1px solid black;
    width: 30%;
    background: blanchedalmond;
    color: black;
    height: 3000px;
    padding: 20px;
    text-align: center;
}
.main div{
    height: 80px;
    border: 1px solid black;
}
.div1{
    background: orange;
    opacity: 0.8;    animation-name: rotateDiv ;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.div2{
    background: white;
    opacity: 0.9;    animation-name: rotateDiv ;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

/* Position : static | relative | absolute | fixed */
.div3{
    background: green;
    position: static;
    top: 100px;
    /* z-index: -1; */
    animation-name: rotateDiv ;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes rotateDiv{
    
    0%{
    transform: rotateZ(0deg);
    }
    25%{
    transform: rotateZ(90deg);
    }
    50%{
    transform: rotateZ(180deg);
    }
    75%{
    transform: rotateZ(240deg);
    }
    100%{
    transform: rotateZ(360deg);
    }
}